/venv/
/puzzle/migrations/
/key.txt
/puzzle/static/puzzle/images/
/puzzle/static/puzzle/images/old_solutions/
/brabant_puzzle/heatmaps/
/brabant_puzzle/.Rhistory
/brabant_puzzle/heatmap.json
/brabant_puzzle/terminal.txt
/brabant_puzzle/__pycache__/
/puzzle/__pycache__/
**/__pycache__/
