{% extends "puzzle/topnav.html" %}
{% block content %}

<h1>Settings</h1>

<!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
</form> -->

<b>Current mode:</b>
{{ curent_mode }}

<br>
<head>
    <title>Settings</title>
</head>

<b>Current algorithm:</b>
{{ current_algorithm }}

<br>

<b>Current timeout:</b>
{{ current_timeout }} minutes

<br>

<b>Current double check:</b>
{{ current_double_check }}

<br>

<b>Current use fixed:</b>
{{ current_use_fixed }}

<form method="post", enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Upload</button>
</form>

{% endblock %}

