{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="10"/>
    <meta http-equiv=“Pragma” content=”no-cache”>
    <meta http-equiv=“Expires” content=”-1″>
    <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <title>Solution</title>
</head>
<body>

<b>Mode:</b> {{ mode }} - <b>Algorithm:</b> {{ algorithm }} - <b>Timeout:</b> {{ timeout }}
- <b>Self filled:</b> {{ use_self_filled }} - <b>Double check:</b> {{ double_check }}

<br><br>
{{ out2 | safe }}

<img src="{{ func1 }}" alt="Solution" width="1500" height="1500">
{{ out | safe }}
<img src="{{ func2 }}" alt="Visited">

</body>
</html>