{% extends "puzzle/topnav.html" %}
{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5"/>
    <title>Solution</title>
</head>
<body>

{% for k, v in settings %}
    <b>{{ k }}:</b> {{ v }} -
{% endfor %}

<br><br>
{{ out2 | safe }}

<img src="{{ func1 }}" alt="Solution" width="1200" height="1200">

<div style="margin: auto; text-align: center;">
{{ out | safe }}
</div>


<img src="{{ func2 }}" alt="Visited", width="1200">

</body>
</html>
{% endblock %}